webServiceTester/Service References/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="calculate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="boxesString" type="tns:ArrayOfBoxesArgument" />
            <s:element minOccurs="0" maxOccurs="1" name="containersString" type="tns:ArrayOfContainersArgument" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBoxesArgument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BoxesArgument" type="tns:BoxesArgument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BoxesArgument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="prodid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="height" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="width" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="depth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="weight" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContainersArgument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContainersArgument" type="tns:ContainersArgument" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContainersArgument">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="height" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="width" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="depth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="weight" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="calculateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calculateResult" type="tns:Solution" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Solution">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="containers" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="packedVolume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="containersVolume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="freeVolume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="removedContainers" type="tns:ArrayOfContainerParams" />
          <s:element minOccurs="0" maxOccurs="1" name="removedBoxes" type="tns:ArrayOfProductParams" />
          <s:element minOccurs="0" maxOccurs="1" name="container" type="tns:ArrayOfResultedContainers" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContainerParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="containerParams" nillable="true" type="tns:containerParams" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="containerParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="height" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="width" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="depth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="volume" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="productParams" nillable="true" type="tns:productParams" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="productParams">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="prodid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="height" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="width" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="depth" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResultedContainers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResultedContainers" nillable="true" type="tns:ResultedContainers" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultedContainers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="No" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="containerParams" type="tns:containerParams" />
          <s:element minOccurs="0" maxOccurs="1" name="packedBoxes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="packedVolume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="freeVolume" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product" type="tns:ArrayOfPackedProducts" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPackedProducts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="packedProducts" nillable="true" type="tns:packedProducts" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="packedProducts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productParams" type="tns:productParams" />
          <s:element minOccurs="0" maxOccurs="1" name="x" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="y" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="z" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="calculateSoapIn">
    <wsdl:part name="parameters" element="tns:calculate" />
  </wsdl:message>
  <wsdl:message name="calculateSoapOut">
    <wsdl:part name="parameters" element="tns:calculateResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="calculate">
      <wsdl:input message="tns:calculateSoapIn" />
      <wsdl:output message="tns:calculateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calculate">
      <soap:operation soapAction="http://tempuri.org/calculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calculate">
      <soap12:operation soapAction="http://tempuri.org/calculate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:5658/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:5658/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>